/* Qantas Sans */
@font-face {
  font-family: 'Qantas Sans';
  src:
    url('../fonts/QantasSans-Light.woff2') format('woff2'),
    url('../fonts/QantasSans-Light.woff') format('woff'),
    url('../fonts/QantasSans-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Qantas Sans';
  src:
    url('../fonts/QantasSans-LightItalic.woff2') format('woff2'),
    url('../fonts/QantasSans-LightItalic.woff') format('woff'),
    url('../fonts/QantasSans-LightItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Qantas Sans';
  src:
    url('../fonts/QantasSans-Regular.woff2') format('woff2'),
    url('../fonts/QantasSans-Regular.woff') format('woff'),
    url('../fonts/QantasSans-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Qantas Sans';
  src:
    url('../fonts/QantasSans-RegularItalic.woff2') format('woff2'),
    url('../fonts/QantasSans-RegularItalic.woff') format('woff'),
    url('../fonts/QantasSans-RegularItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Qantas Sans';
  src:
    url('../fonts/QantasSans-Medium.woff2') format('woff2'),
    url('../fonts/QantasSans-Medium.woff') format('woff'),
    url('../fonts/QantasSans-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Qantas Sans';
  src:
    url('../fonts/QantasSans-MediumItalic.woff2') format('woff2'),
    url('../fonts/QantasSans-MediumItalic.woff') format('woff'),
    url('../fonts/QantasSans-MediumItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Qantas Sans';
  src:
    url('../fonts/QantasSans-Bold.woff2') format('woff2'),
    url('../fonts/QantasSans-Bold.woff') format('woff'),
    url('../fonts/QantasSans-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Qantas Sans';
  src:
    url('../fonts/QantasSans-BoldItalic.woff2') format('woff2'),
    url('../fonts/QantasSans-BoldItalic.woff') format('woff'),
    url('../fonts/QantasSans-BoldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

/* Noto Sans JP */

@font-face {
  font-display: swap;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 300;
  src:
    url('../fonts/noto-sans-jp-v55-japanese-300.woff2') format('woff2'),
    url('../fonts/noto-sans-jp-v55-japanese-300.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/noto-sans-jp-v55-japanese-regular.woff2') format('woff2'),
    url('../fonts/noto-sans-jp-v55-japanese-regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 500;
  src:
    url('../fonts/noto-sans-jp-v55-japanese-500.woff2') format('woff2'),
    url('../fonts/noto-sans-jp-v55-japanese-500.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 600;
  src:
    url('../fonts/noto-sans-jp-v55-japanese-600.woff2') format('woff2'),
    url('../fonts/noto-sans-jp-v55-japanese-600.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  src:
    url('../fonts/noto-sans-jp-v55-japanese-700.woff2') format('woff2'),
    url('../fonts/noto-sans-jp-v55-japanese-700.ttf') format('truetype');
}

/* Noto Sans KR */

@font-face {
  font-display: swap;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src:
    url('../fonts/noto-sans-kr-v38-korean-300.woff2') format('woff2'),
    url('../fonts/noto-sans-kr-v38-korean-300.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/noto-sans-kr-v38-korean-regular.woff2') format('woff2'),
    url('../fonts/noto-sans-kr-v38-korean-regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src:
    url('../fonts/noto-sans-kr-v38-korean-500.woff2') format('woff2'),
    url('../fonts/noto-sans-kr-v38-korean-500.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 600;
  src:
    url('../fonts/noto-sans-kr-v38-korean-600.woff2') format('woff2'),
    url('../fonts/noto-sans-kr-v38-korean-600.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src:
    url('../fonts/noto-sans-kr-v38-korean-700.woff2') format('woff2'),
    url('../fonts/noto-sans-kr-v38-korean-700.ttf') format('truetype');
}

/* Noto Sans TC */

@font-face {
  font-display: swap;
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src:
    url('../fonts/noto-sans-tc-v38-chinese-traditional-300.woff2') format('woff2'),
    url('../fonts/noto-sans-tc-v38-chinese-traditional-300.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/noto-sans-tc-v38-chinese-traditional-regular.woff2') format('woff2'),
    url('../fonts/noto-sans-tc-v38-chinese-traditional-regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 500;
  src:
    url('../fonts/noto-sans-tc-v38-chinese-traditional-500.woff2') format('woff2'),
    url('../fonts/noto-sans-tc-v38-chinese-traditional-500.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 600;
  src:
    url('../fonts/noto-sans-tc-v38-chinese-traditional-600.woff2') format('woff2'),
    url('../fonts/noto-sans-tc-v38-chinese-traditional-600.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  src:
    url('../fonts/noto-sans-tc-v38-chinese-traditional-700.woff2') format('woff2'),
    url('../fonts/noto-sans-tc-v38-chinese-traditional-700.ttf') format('truetype');
}

/* Noto Sans SC */

@font-face {
  font-display: swap;
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 300;
  src:
    url('../fonts/noto-sans-sc-v39-chinese-simplified-300.woff2') format('woff2'),
    url('../fonts/noto-sans-sc-v39-chinese-simplified-300.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/noto-sans-sc-v39-chinese-simplified-regular.woff2') format('woff2'),
    url('../fonts/noto-sans-sc-v39-chinese-simplified-regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 500;
  src:
    url('../fonts/noto-sans-sc-v39-chinese-simplified-500.woff2') format('woff2'),
    url('../fonts/noto-sans-sc-v39-chinese-simplified-500.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 600;
  src:
    url('../fonts/noto-sans-sc-v39-chinese-simplified-600.woff2') format('woff2'),
    url('../fonts/noto-sans-sc-v39-chinese-simplified-600.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 700;
  src:
    url('../fonts/noto-sans-sc-v39-chinese-simplified-700.woff2') format('woff2'),
    url('../fonts/noto-sans-sc-v39-chinese-simplified-700.ttf') format('truetype');
}
